<div class="d-flex" id="register-body">
	<div class="card mx-auto my-auto" id="register-card">
		<div class="card-body text-center">
			<h4 class="card-title mb-3 text-center">Create Account</h4>

			<form>
				<!-- firstname -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input class="form-control" placeholder="First Name" type="text" [(ngModel)]="first_name" name="first_name" id="first_name">
				</div>
				<!-- lastname -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-user"></i> </span>
					</div>
					<input class="form-control" placeholder="Last Name" type="text" [(ngModel)]="last_name" name="last_name" id="last_name">
				</div>
				<!-- email -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
					</div>
					<input class="form-control" placeholder="Email address" type="email" [(ngModel)]="email" name="email" id="email">
				</div>
				<!-- password -->
				<div class="form-group input-group">
					<div class="input-group-prepend">
						<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
					</div>
					<input class="form-control" placeholder="Create password" type="password" [(ngModel)]="password" id="password" name="password">
				</div>
				<!-- submit -->
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block" (click)="tryRegister()" [disabled]="!this.first_name || !this.last_name || !this.email || !this.password">Create Account</button>
				</div>
			</form>

			<p class="divider-text"><span class="bg-white">OR</span></p>
			<p class="d-inline">Have an account?</p>
			<a routerLink="/login">  Log In</a>
		</div>
	</div>
</div>


<!-- <div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text"> <i class="fa fa-lock"></i> </span>
</div>
<input class="form-control" placeholder="Repeat password" type="password">
</div>  -->


<!-- <div class="form-group input-group">
<div class="input-group-prepend">
<span class="input-group-text"> <i class="fa fa-building"></i> </span>
</div>
<select class="form-control">
<option selected=""> Select job type</option>
<option>Designer</option>
<option>Manager</option>
<option>Accaunting</option>
</select>
</div>  -->
