<div class="d-flex" id="home-body">
  <div class="mx-auto my-auto animated zoomIn">
    <img width="300" alt="MyLocker Logo" src="assets/img/ml-1.png">
    <br>
    <br>
    <br>
    <h1 class="text-white">
      Welcome to MyLocker!
    </h1>
    <br>
    <h3 class="text-white">
      Head on over to the "Products" page to take a look at our available products.
    </h3>
    <button type="button" class="btn btn-white text-info my-1" routerLink="/itempage">
      Products
    </button>
    <br>
    <div class="" *ngIf="!this.authGuard.authIsLogged">
      <h3 class="text-white" >
        In addition, feel free to create a free account to get access to special features.
      </h3>
      <button type="button" class="btn btn-white text-info my-1" routerLink="/register">
        Register
      </button>
    </div>

  </div>
</div>
