#page-header{
  padding-top: .5rem;
}

#nav-header{
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: solid #ddd;
}

#fav-header{
  padding-top: .5rem;
  padding-bottom: .5rem;
  border-bottom: solid #ddd;
}

#nav-button{
  position: absolute;
  z-index: 999;
}

#fav-button{
  display: block;
  z-index: 999;
  right: 0;
}

#logout-but{
  display: block;
}

#border{
  font-size: 25px;
}

#logout-area{
  position: absolute;
  right: 1rem;
}

#login-account{
right:9vw;
position: absolute;
}

#login-login{
  right:1rem;
  position: absolute;
}


#favorite{
  font-size: 2rem;
  cursor: pointer;
}

#favorite:hover{
  font-size: 2rem;
  color: #dc3545!important;
  cursor: pointer;
}

#collapseNav{
  position: fixed;
  height: 100vh;
  width: 15vw;
  z-index: 995;
  top: 0;
  left: 0;
}

#collapseFav{
  position: fixed;
  height: 100vh;
  width: 16vw;
  z-index: 995;
  top: 0;
  right: 0;
  overflow: scroll;
}

#dismiss-nav{
  padding-bottom: 1rem;
  border-bottom: solid #ddd;
}

#nav-close{
  padding-top: 1rem;
  font-size: 35px;
  cursor: pointer;
  color: #17a2b8;
  background:transparent;
}

#favs-list{
  overflow: scroll;
}

#navFooter{
  position: fixed;
  bottom: 10px;
  border-top: solid #ddd;
  width: 13.5vw;
}

.nav-item{
  padding: 1rem 0;
  font-size: 20px;
}

.overlay {
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 990;
  opacity: 1;
}
