
<nav class="navbar navbar-dark bg-light navbar-expand-lg" id="mainNav">
  <button type="button" class="btn btn-info" routerLink="/home" id="home-button">
    Home
  </button>

  <button type="button" class="btn btn-info" routerLink="/itempage" id="nav-button">
    Products
  </button>

  <h3 class="mx-auto text-info paddingDiv" id="page-header" routerLink="/home">MyLocker</h3>

  <div class="d-flex"  id="logout-area">
    <button class="btn btn-info mr-3" *ngIf="this.authGuard.authIsLogged" routerLink="/dashboard" >My Account</button>
    <button class="btn btn-info" routerLink="/login" *ngIf="!this.authGuard.authIsLogged">Login/Register</button>
    <button class="btn btn-info mr-3" (click)="tryLogout()" id="logout-but" *ngIf="this.authGuard.authIsLogged">Logout</button>
    <span id="fav-button"><i class="fa fa-heart mt-1 text-info" aria-hidden="true" id="favorite" (click)="isCollapsedFav = !isCollapsedFav" *ngIf="this.authGuard.authIsLogged"></i></span>
  </div>

  <div class="clearfix"></div>

  <div [ngbCollapse]="isCollapsedFav">
    <div class="bg-light container" *ngIf="!isCollapsedFav" id="collapseFav" [@slideInOutRight]>
      <div class="d-flex" id="fav-header">
        <h1 class="text-info font-weight-bold mx-auto mb-0">Favorites</h1>
      </div>

      <div id="favs-list">
        <app-favorites></app-favorites>
      </div>
    </div>
  </div>
</nav>

<div class="overlay" *ngIf="!isCollapsedFav"></div>
