<nav class="navbar navbar-dark bg-light navbar-expand-lg">

<!-- (click)="isCollapsed = !isCollapsed" -->
<!-- (click)="animateMe()" -->
  <button type="button" class="btn btn-info" (click)="isCollapsed = !isCollapsed" id="nav-button">
    <i class="fa fa-align-left"></i>
  </button>

  <h3 class="mx-auto text-info" id="page-header">MyLocker</h3>

  <div class="d-flex"  id="logout-area">
    <button class="btn btn-info mr-3" *ngIf="this.authGuard.authIsLogged" routerLink="/dashboard" >My Account</button>
    <button class="btn btn-info" routerLink="/login" *ngIf="!this.authGuard.authIsLogged">Login/Register</button>
    <button class="btn btn-info mr-3" (click)="tryLogout()" id="logout-but" *ngIf="this.authGuard.authIsLogged">Logout</button>
    <span id="fav-button"><i class="fa fa-heart mt-1 text-info" aria-hidden="true" id="favorite" (click)="isCollapsedFav = !isCollapsedFav" *ngIf="this.authGuard.authIsLogged"></i></span>
  </div>

  <div class="clearfix"></div>

  <div [ngbCollapse]="isCollapsed">
  <!-- <div [@slideInOut2]="state" id="collapseNav"> -->
    <div class="bg-light container" *ngIf="!isCollapsed" id="collapseNav" [@slideInOut]>

      <!-- <div class="d-flex" id="dismiss-nav">
        <i class="fa fa-times mx-auto" id="nav-close" style="background-color:transparent;" (click)="isCollapsed = !isCollapsed"></i>
      </div> -->

      <div class="d-flex" id="nav-header">
        <h1 class="text-info font-weight-bold mx-auto mb-0">Menu</h1>
      </div>

      <div class="flex-column d-flex align-items-center" id="navItems">
        <div class="nav-item mb-auto">
          <a class="text-info" routerLink="/home" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Home</a>
        </div>

        <div class="nav-item mb-auto">
          <a class="text-info" routerLink="/itempage" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">itempage</a>
        </div>

        <!-- <div class="nav-item mb-auto">
          <a class="text-info" routerLink="/home" routerLinkActive="active" (click)="isCollapsed = !isCollapsed">Link 2</a>
        </div> -->

        <div class="nav-item text-center" id="navFooter">
          <a class="text-info d-inline" routerLink="/login" routerLinkActive="active" *ngIf="!this.authGuard.authIsLogged" (click)="isCollapsed = !isCollapsed"><h4 class="mb-0">Login/Register</h4></a>
          <a class="text-info d-inline" routerLink="/dashboard" routerLinkActive="active" *ngIf="this.authGuard.authIsLogged" (click)="isCollapsed = !isCollapsed">My Account</a>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->

  <div [ngbCollapse]="isCollapsedFav">
    <div class="bg-light container" *ngIf="!isCollapsedFav" id="collapseFav" [@slideInOutRight]>

      <!-- [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" -->
      <!-- <div class="d-flex" id="dismiss-nav">
        <i class="fa fa-times mx-auto" id="nav-close" style="background-color:transparent;" (click)="isCollapsedFav = !isCollapsedFav"></i>
      </div> -->

      <!-- <div class="d-flex" id="nav-header">
        <h1 class="text-info font-weight-bold mx-auto mb-0">Favorites</h1>
      </div> -->

      <div class="d-flex" id="fav-header">
        <h1 class="text-info font-weight-bold mx-auto mb-0">Favorites</h1>
      </div>

      <div class="" id="favs-list">
        <app-favorites></app-favorites>
      </div>
    </div>

  </div>

</nav>




<div class="overlay" *ngIf="!isCollapsed || !isCollapsedFav"></div>




<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
<button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseAria">
<span class="navbar-toggler-icon"></span>
</button>
<div [ngbCollapse]="isCollapsed" class="navbar-collapse" id="collapseAria">
...
</div>
</nav> -->
