#filters{
  position: fixed;
  left: 0;
  height:93.5vh;
  width: 15vw;
  overflow: scroll;
}

#products{
  padding-left: 15vw !important;
}

#priceFilter{
  height: 12vh;
  overflow: scroll;
}

#productList{
  padding-top: 4rem;
  z-index: -1;
}

#add-fav{
  position: absolute;
  right:.5rem;
  top:.5rem;
}

#add-fav:hover{
  position: absolute;
  right:.5rem;
  top:.5rem;
  color: #dc3545!important;
  cursor: pointer;
}

#add-fav-x{
  font-size: 2rem;
  cursor: pointer;
}
