#dash-head{
  margin-top: .5rem;
}

#email-card{
  width: 20vw;
}

#dashboard-body{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(-45deg, rgba(75,190,232,1) 0%, rgba(113,206,239,1) 20%, rgba(183,208,235,1) 40%, rgba(218,183,235,1) 60%, rgba(235,138,235,1) 80%, rgba(224,117,133,1) 100%);
}

.card{
  background-color: transparent;
}
