<div class="d-flex" id="login-body">
  <div class="mx-auto my-auto card mt-5" id="login-card">
    <div class="card-body text-center">
      <h4 class="card-title mb-3 text-center">Login</h4>

      <form name="loginForm" #loginForm="ngForm" novalidate>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope"></i></span>
          </div>
          <input class="form-control"
          placeholder="Email address"
          type="email"
          name="email"
          id="email"
          [(ngModel)]="loginControl.email"
          #email="ngModel"
          [ngClass]="{ 'is-invalid': email.touched && email.invalid }"
          required email>
          <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
            <div *ngIf="email.errors.email || email.errors.required" class="alert alert-danger mb-0">Email must be a valid email address</div>
          </div>
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
          </div>
          <input class="form-control"
          placeholder="Create password"
          type="password"
          name="password"
          id="password"
          [(ngModel)]="loginControl.password"
          #password="ngModel"
          [ngClass]="{ 'is-invalid': password.touched && password.invalid }"
          required minlength="6"
          >
          <div *ngIf="password.touched && password.invalid" class="invalid-feedback">
            <div *ngIf="password.errors.required" class="alert alert-danger mb-0">Password is required</div>
            <div *ngIf="password.errors.minlength" class="alert alert-danger mb-0">Password must be at least 6 characters</div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" (click)="tryLogin()" [disabled]="loginForm.invalid">Login</button>
        </div>
      </form>

      <p class="divider-text">
        <span class="bg-white">OR</span>
      </p>
      <p class="d-inline">Dont Have an account?</p>
      <a routerLink="/register">  Register</a>
    </div>
  </div>
</div>
